<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<style>
    .table td,
    .table th {
        vertical-align: middle;
    }
</style>
<h2 style="color:crimson;"></h2>

<div class="container text-center my-3">
    <div class="form-group">
        <h3 class="alert alert-danger">Error al Registrar<br><br>
        Usuario ya registrado.</h3>

        <a  href='/signup' class="btn btn-danger float-right" >Ir a registro</a>
    </div>
</div>
<br>

